/* bullets */
.bullet {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 2px 2px 2px 2px;
}

.bullet--dead {
    background:   /* On "top" */
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ccc 10px,
      #ccc 20px
    ),
    /* on "bottom" */
    linear-gradient(
      to bottom,
      black,
      #999
    );
    opacity: 0.2;
}

.bullet--future {
    background: transparent;
    border: dashed 0.5px;
    opacity: 0.3;
}